<div class="container">
  <h1>Welcome to {{ title }} !</h1>

  <app-chucknorris></app-chucknorris>

  <app-hello [title]="'Hello World'">
    <input type="text" [(ngModel)]="prenom"> {{ prenom }}
  </app-hello>

  <app-hello [title]="'Mon premier composant'">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, tenetur?</p>
  </app-hello>

  <app-hello [title]="'Two Way data binding'">
    <div>
      <input type="text" (keyup)="onKeyUp($event)" placeholder="keyup">
    </div>

    <div>
      <input type="text" [(ngModel)]="ville" placeholder="ngModel">
    </div>

    <p>{{ ville }}</p>
  </app-hello>

  <app-hello [title]="'Message'">
    <app-message [maxSize]="20" (textEvent)="onMessage($event)"></app-message>
  </app-hello>

  <div class="messages">
    <div class="message" *ngFor="let msg of messages; let i = index">
      <app-hello [title]="'Message #' + (i + 1)">
        <p>{{ msg.text }}</p>
        <p>{{ msg.date | date:'dd/MM/yyyy' }}</p>

        <button (click)="onDelete(i)">Supprimer</button>
      </app-hello>
    </div>
  </div>

  <app-todo></app-todo>

</div>