<form [formGroup]="form" (ngSubmit)="addMovie()" class="text-center border border-light p-5">

  <p class="h4 mb-4">Add movie</p>

  <!-- Title -->
  <div class="md-form">
  <input type="text" required formControlName="title" id="defaultContactFormName" class="form-control mb-4" placeholder="Title">
  <mdb-error *ngIf="true">Input invalid</mdb-error>
  <mdb-success *ngIf="true">Input valid</mdb-success>
</div>
  <!-- Date -->
  <input type="date" id="defaultContactFormName" formControlName="date" class="form-control mb-4" placeholder="">
  <!-- Description -->
  <div class="form-group">
    <textarea id="movie-description" formControlName="description" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
      placeholder="Description"></textarea>
  </div>

  <!-- Send button -->
  <button [disabled]="form.invalid" class="btn btn-info btn-block"  type="submit">Send</button>

</form>