html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri, Tahoma, sans-serif;
    background-color: #F0F0F0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

input[type="text"] {
    padding: 5px;
    min-width: 200px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

button {
    display: inline-block;
    background-color: royalblue;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid darkslateblue;
    transition: background-color .2s ease;
    cursor: pointer;
}

button:hover {
    background-color: darken(darkslateblue, 2%);
}